.Rproj.user
.Rhistory
.RData
vdem_data.Rdata
vdem_data.rds
vdem_data.sqlite
README.md
Rplot001.png
Toptal Example
Toptal Example.zip
imps_1.csv
imps_3.csv
mi1469472249
pars_1.csv
pars_3.csv
rsconnect
vdem_model_summary.csv
